/*/////////////////////////
///////nav bar////////////
////////////////////////*/

/*
#navcontainer {
    background-color: #cbd1db;
    padding-top: 10px;
    color:white;*/

/*
left side nav bar text
.navbar-brand {
    font-size: 18;
    color:white;
}

.navbar-right{
    padding-right: 100px;
}*/


/*right hand side navbar text*/
.page-scroll{
    color:white;
/*    padding-right: 80px;*/
}

.text-left{
    padding-left: 80px;
}


.resume-container{
    /*    padding-top: 35px;*/
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    font-family: Corbel;
    font-size: 14;
}

.container {
/*    padding-top: 35px;*/
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 80px;
    font-family: Corbel;
    font-size: 14;
}

.muted-credit{
    padding-bottom: 20px;
}

.aboutme {
    padding-top: 100px;
/*    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 80px;*/
    font-family: Corbel;
    font-size: 14;
    text-align: center;
}
.background{
    background-size: cover;
}
.assignments{
    padding-top: 100px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    font-family: Corbel;
    font-size: 14;
}

li {
    font-family: Corbel;
    font-size: 14;  

}
img {
  border: 0;
}


.sub-heading{ padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 80px;
    font-family: Corbel;
    font-size: 14;}

.intromain {
    display: table;
    width: 100%;
    height: 50%;
    padding: 15px 0px 120px 0px;

    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.intro-blurb{padding-top: 10px;
    padding-bottom: 0px;
    font-family: Corbel;
    font-size: 12;
    color: #fff;
}


.intro-body{
    font-family: Corbel;
    font-weight: bold;
    color: #878CA8;
    text-align: center;
    font-size: 1000;
    font-size: 10pt;
    padding-top: 100px;

}
.intro-about{
    display: table;
    width: 100%;
    height: 50%;
/*    padding: 15px 0px 120px 0px;*/
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.intro-blurb{
    font-family: Corbel;
    font-size: 12;
    color: #fff;
}


.intro-body{
    font-family: Corbel;
    font-weight: bold;
    color: #878CA8;
    text-align: center;
/*    font-size: 1000;*/
    font-size: 100pt;

}

.intro {
    display: table;
    width: 100%;
    height: 100px;
    padding: 100px 0;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: #4d4d4d;
}

.about-blurb{
    padding-left: 100px;
    padding-right: 100px;
/*    padding-top: 200px;
*/    font-family: Corbel;
/*    font-weight: bold;
*/    color: black;
    text-align: center;
    font-size: 14pt;

}

/*body {
    background-color: #0000;
} */

#header{    margin: 0 0 35px;
    color:white;
    font-variant: bold;
    text-align: center;
    font-weight: 700;
}
.brand-heading{    
    margin: 0 0 35px;
    color:black;
    font-variant: bold;
    text-align: center;
/*    padding-top: 100px;*/
}
.about-heading{
    color:black;
    font-variant: bold;
    text-align: center;
 /*   padding-top: 300px; */

}
.brand-heading{    
    margin: 0 0 35px;
    color:black;
    font-variant: bold;
    text-align: center;
    padding-top: 70px;
}

#footer{
    font-variant: bold;
    text-align: left;
    font-weight: 700;
    background-color: #b4bbc6;
    color:white;
    float: bottom;
    width: 100%;
}

h1{   margin: 0 0 35px;
    color:black;
    font-variant: bold;
    text-align: center;

h1{   margin: 0 0 35px;
    color:black;
    font-variant: bold;
    text-align: center;
}

h4{margin:  0 0 25px;}

h2,
h3,
h5,
h6 {
    margin: 0 0 15px;
/*    text-transform: uppercase;*/
    font-family: Corbel;
    letter-spacing: 1px;


.page-top {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Corbel;
    background-color: #cbd1db;
}
    
p {
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 80px;
    }

